@font-face {
  font-family: LilitaOne;
  src: url("./LilitaOne-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: LuckiestGuy;
  src: url("./LuckiestGuy-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Inter;
  src: url("./Inter-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Poppins;
  src: url("./Poppins-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}
