* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
}

html,
body {
  /* height: 100%; */
  /* background-color: rgba(0, 0, 0, 0.8); */
}
